@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

:root {
  --color-secondary: #007aff;
  --color-secondary-hover: #0062ca;
  --color-white: #FFFFFF;
  --color-light-grey: #dfdfdf;
  --color-dark: #000000;
}
html, body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  line-height: 1;
  background: #dfdfdf;
  font-family: "Open Sans", sans-serif;
  max-width: 600px;

}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}


.header {
  background-color: #ffffff;

  .header__container {
    height: 50px;
    width: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 2.5rem;
    a {
      text-align: center;
      width: 0;
      .social-icons {
        font-size: 1.7rem;
        color: var(--color-dark);
        margin-right: 1rem;
        &:hover {
          color: var(--color-secondary);
        }
      }
    }
  }
}

.hero {
  height: 427px;
  position: relative;
  
  &:before {
    content: "";
      background-image: url('../img/hero-img2.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.60;
  }
  // background-image: url(../img/hero-img1.jpg);
  // background-repeat: no-repeat;
  // position: relative;
  .hero__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15rem;
    h1 {
      font-size: 3rem;
      font-variant: small-caps !important;
      font-weight: 600;
      color: var(--color-secondary);
      letter-spacing: 0.2rem;
    }
    .header-divider {
      width: 15%;
      border-top: 2px solid var(--color-dark);
      border-radius: 5px;
      margin: 0.7rem 0;
    }
    h2 {
      font-style: italic;
      letter-spacing: 0.1rem;
    }
    .contact-btn {
      margin-top: 1rem;
      border-radius: 5px;
      border: none;
      font-weight: 600;
      cursor: pointer;
      padding: 5px 15px;
      color: var(--color-white);
      background-color: var(--color-secondary);
      &:focus {
        outline: none;
      }
      &:hover {
        background: var(--color-secondary-hover);
      }
    }
  }
}

.projects {
  .projects__container {
    .projects-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .project {
        width: 250px;
        height: 250px;
        background: var(--color-dark);
      }
    }
  }
}